body{
    background-color: red;
}
.container{
    flex-direction: column;
    width: 100%;
}

@media (max-width:727px){
    .container ul li a{
        font-size: 13px;
        
    }
}

@media (max-width:400px){
   .container{
    width: 100%;
   }
}
